includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: false
    treatPhpDocTypesAsCertain: false


    # Memory optimizations
    parallel:
        processTimeout: 200.0
        maximumNumberOfProcesses: 1
